.home-page {
    padding: 20px;
  }
  
  .hero {
    display: flex;
    align-items: center;
  }
  
  .hero-image {
    max-width: 50%;
    margin-right: 20px;
  }
  
  .hero-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  
  .hero h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    
  }
  
  .hero p {
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .hero button {
    margin: 5px 10px;
    align-content: center;
    justify-content: center;
  }
  