
.item-detail {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 5px;
    justify-content: space-evenly;
  }
  
  .item-image {
    flex: 1;
    max-width: 200px;
    margin-right: 20px;
  }
  
  .item-image img {
    max-width: 100%;
    height: auto;
  }
  
  .item-info {
    flex: 2;
  }
  
  .item-info p {
    margin: 20px;
  }
  
  .item-info p:last-child {
    font-weight: bold;
  }
  