.cart-widget {
    position: relative;
  }
  
  .cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 60%;
    padding: 3px;
    font-size: 10px;
    font-weight: bold;
  }
  
  .search-form .form-control{
    height: 25px;
  }

  @media (max-width: 767px) {
    .navbar-collapse {
      text-align: center;
   }
   .navbar-nav {
    display: inline-block;
    margin-top: 10px; 
  }

  .navbar-nav .nav-item {
    display: block;
  }
  .search-form {
    display: flex;
    justify-content: center; 
  }

  .search-form .form-control{
    width: auto;
  }

  .cart-count {
    position: inherit;
  }
}





